
nav{
    width: 80%;
    margin: auto;
}

nav>ul{
    text-align: center;
    padding-left: 0px;
}

nav>ul>li{
    margin-top: 20px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 2px 2px 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear 0.2s;
}

nav>ul>li:hover{
    box-shadow: 8px 8px 30px white;
}

nav>ul>li>a{
    text-decoration: none;
    font-family: 'Major Mono Display', monospace;
    font-size: 1rem;
    color: white;
    transition: all 0.5s linear 0.2s;
    width: 100%;
}

nav>ul>li>a:hover{
    color: white;
    font-size: 1.3rem;

}


nav>ul>li:first-child{
    background-color: #f5b461;
}

nav>ul>li:nth-child(2){
    background-color: #e2d598;
}

nav>ul>li:nth-child(3){
    background-color: #9ad3bc;
}