
/* Mise en forme de la partie "présentation" */

.presentation>div{
    background-color: black;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.presentation>div>h1{
    font-family: 'Major Mono Display', monospace;
    color: white;
}
.presentation>div>p{
    font-family: 'Roboto Slab', serif;
    color: white;
    max-width: 100%;
    padding: 3%;
}


.presentation>div>img{
    display: none;
}
