@import url(header.css);
@import url(main.css);
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto+Slab&display=swap');
@import url(nav_home.css);
@import url(footer.css);

:root{
    --my-red : #dbb8b6;
}

body{
    margin: 0;
    display: grid;
    margin: auto;
    background-color: rgb(250, 246, 246);

    
}
@media (min-width: 1025px) { 
    body{
        width: 80%;
    }
    
    main{
        display: flex;
        flex-direction: row;
    }

    .presentation{
        width: 35%;
    }
    
    nav{
        width: 65%;
        height: 100%;
        margin-left: 10px;

    }
    nav>ul{
        height: 100%;
    }

    nav>ul>li{
        margin-top: 50px;
        height: 24%;
    }


 }